body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Impede a barra de rolagem */
}

.container {
    text-align: center;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    color: #3d5170;
    font-size: 2em;
}

p {
    color: #8798ad;
    font-size: 1.2em;
}

#countdown {
    color: #3d5170;
    font-size: 2.5em;
    margin-top: 10px;
}

#countdown-text {
    color: #8798ad;
    font-size: 1.2em;
    margin-bottom: 10px;
}